 @model ThongTinLinhVuc

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@ViewBag.mess
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Quản lý lĩnh vực</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">

                    </div>
                    <!-- /.row -->
                    <div class="row">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">

                                    <h3 class="card-title">Bảng Lĩnh vực</h3>
                                    <div></div>
                                    <div style="margin-left:75%" class="btn-group ">

                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                                            <i class="fas fa-upload"></i>
                                            <span>Add</span>
                                        </button>
                                    </div>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="height: 300px;">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                            <tr>

                                                <th>Mã Lĩnh Vực</th>
                                                <th>Tên Lĩnh Vực</th>

                                                <th>Thao tac</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.DSLVuc)
                                            {
                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                    <td> @item.MaLinhVuc</td>
                                                    
                                                    <td>
                                                        @item.TenLinhVuc
                                                    </td>

                                                    <td>
                                                        @Html.ActionLink("Edit", "SuaLinhVuc", "admin", new { id = @item.MaLinhVuc})


                                                        @Html.ActionLink("Delete", "XoaLinhVuc", "admin", new { id = @item.MaLinhVuc })

                                                    </td>

                                                </tr>
}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">

                    </div>
                    <!-- /.row -->
                    <div class="row">

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        @using (Html.BeginForm("SuaBlog", "admin", FormMethod.Post))
        {
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bảng chỉnh sửa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="form-submit" class="main-button">
                               
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
            <!-- THÊM BLOG -->
            @using (Html.BeginForm("themLinhVuc", "admin", FormMethod.Post))
            {
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Bảng thêm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên Lĩnh Vực</label>
                                        @Html.TextBoxFor(m => m.TenLinhVuc)
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="form-submit" class="main-button">
                                    SAVE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
</body>

